<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/fontawesome.all.min.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body class="bg-primary">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <i class="fa fa-comments"></i>
            Chat©
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a id="logout" class="nav-link" href="/sair">Sair <i class="fa fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-chat row flex-column flex-md-row h-100 p-0 m-0">
        <div class="col col-md-4 p-0">
            <div class="card rounded-0 h-100">
                <div class="card-header text-center">
                    Usuários
                </div>
                <div class="card-body rounded-0">
                    <ul id="usersList" class="list-group">
                        {{#each users}}
                        <li class="list-group-item">
                            <span id="user-{{this.id}}" class="font-weight-bold">{{ this.login }}</span>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col p-4">
            <div class="card rounded-0 h-100 overflow-hidden">
                <div class="card-header text-center">
                    Conversa <i class="fa fa-comment-dots"></i>
                </div>
                <div class="card-body rounded-0">
                    <!-- Messages list -->
                    <ul id="messages" class="list-group">
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-9 mb-2">
                            <!-- Send message -->
                            <input type="text" id="message" name="message" class="form-control">
                        </div>
                        <div class="col-12 col-md-3 mb-2">
                            <button type="button" id="send" name="send"
                                class="btn btn-primary btn-block">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="userid" name="userid" value="{{id}}">
    <input type="hidden" id="username" name="username" value="{{login}}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sanitize-html@1.20.1/dist/sanitize-html.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>