<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro - Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/fontawesome.all.min.css">
</head>

<body class="bg bg-primary">
    <div class="backdrop d-none">
        <div class="loader">Carregando...</div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <i class="fa fa-comments"></i>
            Hardest Chat©
        </a>
    </nav>

    <div class="container h-100">
        <div class="d-flex h-100 justify-content-center align-items-center">
            <div class="card" style="min-width: 60%">
                <div class="card-header font-weight-bold d-flex justify-content-center">
                    <h2>Cadastro</h2>
                </div>
                <div class="card-body">
                    <form class="w-100 p-1" method="POST" action="/cadastro">
                        <div class="form-group">
                            <label for="name">Nome <span class="text-danger">*</span></label>
                            <input type="text" id="name" name="name" class="form-control" required maxlength="100">
                        </div>
                        <div class="form-group">
                            <label for="login">Login <span class="text-danger">*</span></label>
                            <input type="text" id="login" name="login" class="form-control" required maxlength="32">
                        </div>
                        <div class="form-group">
                            <label for="password">Senha <span class="text-danger">*</span></label>
                            <input id="password" name="password" type="password" class="form-control" required
                                minlength="6" maxlength="32">
                        </div>
                        <div class="form-group">
                            <label for="passwordConfirmation">Confirmar senha <span class="text-danger">*</span></label>
                            <input id="passwordConfirmation" name="passwordConfirmation" type="password"
                                class="form-control" required minlength="6" maxlength="32">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/serialize.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.querySelector('form');
            var loader = document.querySelector('.backdrop');

            form.addEventListener('submit', function (e) {
                e.preventDefault();

                loader.classList.remove('d-none');
                var data = serialize(e.target);

                axios.post('/cadastro', data)
                    .then(function (res) {
                        loader.classList.add('d-none');
                        var response = { ...res.data };

                        alert(response.message);
                        if (!response.success) {
                            return;
                        }

                        window.location.href = '/';
                    });
            })
        });
    </script>
</body>

</html>