html, body {
    position: relative;
    height: 100%;
}

.container-chat {
    max-height: calc(100vh - 60px);
}

#messages {
    overflow-y: scroll;
    height: 380px;
}

@media(max-width: 768px) {
    #messages {
        height: 100px;
    }
}

@media(min-width: 1024px) {
    .navbar {
        height: 60px;
    }
}